<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
        
        <!-- GROUP :: OmegaApp Server Group -->        
		<dict>
			<key>Title</key>
			<string>OmegaApp Server Info</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
        <!-- OmegaApp Server :: Known Servers -->
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Known</string>
			<key>Key</key>
			<string>knownIP</string>
			<key>DefaultValue</key>
			<string>(Evangeline EVL)    131.193.77.197</string>
			<key>Values</key>
			<array>
				<string>(BigDaddy)             131.193.78.176</string>
				<string>(Dual2)                  131.193.78.108</string>
				<string>(Evangeline Home) 192.168.1.100</string>
				<string>(Evangeline EVL)    131.193.77.197</string>
				<string>(Precious)              131.193.77.222</string>
				<string>(Sexy Italian)         131.193.77.200</string>
				<string>(Thor)                   131.193.78.108</string>
				<string>(Venom)                131.193.77.112</string>
			</array>
			<key>Titles</key>
			<array>
				<string>(BigDaddy)             131.193.78.176</string>
				<string>(Dual2)                  131.193.78.108</string>
				<string>(Evangeline Home) 192.168.1.100</string>
				<string>(Evangeline EVL)    131.193.77.197</string>
				<string>(Precious)              131.193.77.222</string>
				<string>(Sexy Italian)         131.193.77.200</string>
				<string>(Thor)                   131.193.78.108</string>
				<string>(Venom)                131.193.77.112</string>
			</array>
		</dict>
        <!--  OmegaApp Server :: Override Server -->
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>overrideIP</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Override</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
        
        <!--  OmegaApp Server :: Port Number -->
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>3490</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>serverPort</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Port Number</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>

        
        <!-- Debug Mode Group -->
        <dict>
			<key>Title</key>
			<string>Debug Modes</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>

        <!-- Debug Mode :: Server On -->
        <dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>connectToServer</string>
			<key>Title</key>
			<string>Allow Server</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
